h1 {
    color: red;
    font-size: 3em;
    margin-top: auto;
}
p::first-letter {
    font-size: 2em;
    font-style: italic;
    text-align: justify;
}
.article p:first-of-type::first-letter {
    color: purple;
}
.article p:nth-of-type(n+2):nth-of-type(-n+5)::first-letter {
color: green;
}
.titre:hover{
    color: greenyellow;
}
a {
  color: inherit;
  text-decoration-style: wavy;
  text-decoration-color: red;
}
a:hover{
    text-decoration:none;
    background-color: yellow;
}
.consignes{
    border: 2px solid #daa520;
    border-radius: 10px;
    width: 600px;
    padding: 10 px;
    background-image: url(/assets/images/ex04_image_fond.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}