h1 {
    color: red;
    font-size: 3em;
    margin-top: auto;
}
p::first-letter {
    font-size: 2em;
    font-style: italic;
    text-align: justify;
}
.article p:first-of-type::first-letter {
    color: purple;
}
.article p:nth-of-type(n+2):nth-of-type(-n+5)::first-letter {
color: green;
}
.titre:hover{
    color: greenyellow;
}
a {
  color: inherit;
  text-decoration-style: wavy;
  text-decoration-color: red;
}
a:hover{
    text-decoration:none;
    background-color: yellow;
}
.